.paint-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .paper {
        width: 30vw;
        height: 30vh;
        
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}